.container__navbar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header {
	margin-bottom: 30px;
	margin-top: 50px;

	&__text {
		font-size: 40px;
		font-weight: bold;
	}
}

.calculator {
	width: 90%;
	box-sizing: inherit;
	display: flex;
	justify-content: space-between;

	@media (max-width: 1200px) {
		flex-direction: column;
	}

	&__block {
		display: flex;
		flex-direction: column;

		@media (max-width: 1200px) {
			margin-bottom: 10px;
		}

		p {
			margin-bottom: 5px;
		}
	}
}